{% extends 'base.html'%}

<!-- styles block -->

{% block styles%}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  {% endblock%}

  {% block content%}

    <div class="landingpage">
      <div class="landing">
        <div class="newregister">
          <h2>Bliss Posts</h2>
          <hr>
          <p class="registerLinks">
            Don't Have an account yet?
          </p>

          <p class="registerLinks">
            <a href="{{ url_for('auth.register') }}">Sign Up Here</a>
          </p>
        </div>
      </div>
    </div>
  {% endblock %}
